<% include ../partials/header %>

<h1>Form</h1>

<form  action="/campgrounds" method="Post">
  <input type="text" placeholder="Place" name="name" value="">
<input type="text" placeholder="Image URL" name="image" value="">
<input type="text" placeholder="describtion" name="describtion" value="">
<button>Submit</button>
</form>
<% include ../partials/footer %>
